<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.numixproject.iconsubmit"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- I don't support API below 14 ! -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- These permissions are needed. Otherwise you wont be able to create zip files. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Add this activity to your manifest. Change the path to where the RequestActivity.java file is. -->
        <activity
            android:name="org.numixproject.iconsubmit.RequestActivity"
            android:label="@string/app_name"
            android:theme="@style/RequestActivityTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.numixproject.iconsubmit.MainActivity" />
        </activity>
        
        <activity
            android:name="org.numixproject.iconsubmit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>